
body {
	background-color: #212121;
	color: white;
}

.drop-box {
	width: 200px;
	height: 150px;
	border: 3px dotted #CCC;
	background-color: #EEE;
	color: black;
	text-align: center;
	padding-top: 50px;
}

.drop-box.dragover{
	border-color: #0E0;
	background-color: #B2FAB2;
}



.image-display img{
	float:left;
	max-height:350px;
	max-width:425px;
}

