<h1 class="text-center">This is the HOME page.</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<br /><br /><br /><br />
		<form>
			<div class="input-group input-group-sm">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-user"></span>
				</span>
				<input class="form-control" ng-model="user" type="text" placeholder="User Name..." autofocus required>
			</div><br>
			<div class="input-group input-group-sm">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-lock"></span>
				</span>
				<input class="form-control" ng-model="password" type="password" placeholder="Password..." required>
			</div><br>
			<button ng-click="authenticate(user,password)"class="btn btn-success" style="width: 100%" type="submit">Login</button>
		</form>
		<br>
		<a ng-click="register()" class="btn btn-primary" style="width: 100%">Register</a>
		<p ng-show="error" class="error">
			Invalid user name or password... Try again.
		</p>
	</div>
</div>