
body {
	background-color: #212121;
	color: white;
}

.drop-box {
	width: 200px;
	height: 150px;
	border: 3px dotted #CCC;
	background-color: #EEE;
	color: black;
	text-align: center;
	padding-top: 50px;
}

.drop-box.dragover{
	border-color: #0E0;
	background-color: #B2FAB2;
}

.rightjustify {
	position: absolute;
    right: 25px;
    font-size: 125%;
    color: #9d9d9d;
    padding: 5px;
    border: 1px solid #9d9d9d;
}