<h1 class="text-center">This is the BOOKING page.</h1>

<div id="pendingBooking">Pending Booking Requests</div>
	<pending-booking>
		<div>These are the Pending Bookings.</div>
		<!-- 		psudeocode:
		for each pending booking add them to the list styled as a noticable color, perhaps outlined -->
	</pending-booking>
<div id="currentBooking">Current Bookings</div>
	<current-booking>
		<div>These are the Current Bookings.</div>
		<!-- 		psudeocode:
		for each current booking list in a filterable view that can be filtered by date, email or phone number
		styled maybe as green? -->
	</current-booking>
<div id="bookingCalendar">Booking Calendar</div>
	<booking-calendar>
		<div>This is the Booking Calendar.</div>
		<!-- 		psudeocode:
		google calendar-like view of approved bookings. will be customer facing in the future -->
	</booking-calendar>