<h1 class="text-center">Booking Manager</h1>

<div ui-calendar="uiCalendarConfig.calendar" config="uiCalendarConfig" class="span8 calendar" ng-model="eventSources" calendar="calendar"></div>
<!-- 		psudeocode:
google calendar-like view of approved bookings. will be customer facing in the future -->
</booking-calendar>
<div id="pendingBooking">Pending Booking Requests</div>
<pending-booking>
	<div>These are the Pending Bookings.</div>
	<!-- 		psudeocode:
	for each pending booking add them to the list styled as a noticable color, perhaps outlined -->
</pending-booking>
<div ng-show="SelectedEvent" class="alert alert-success" style="margin-top:50px;">
<div id="currentBooking">Selected Event:</div>
<h3>{{SelectedEvent.title}}</h3>
<h3>{{SelectedEvent.approved}}</h3>
</div>




<div>These are the Current Bookings.</div>
<!-- 		psudeocode:
for each current booking list in a filterable view that can be filtered by date, email or phone number
styled maybe as green? -->

<div id="bookingCalendar">Booking Calendar</div>
<booking-calendar>
<div>This is the Booking Calendar.</div>
</booking-calendar>
