<div class="row">

	<div class="col-md-3">
		<div ng-show="errFiles.length > 0">
			Errors:
			<ul>
				<li ng-repeat="f in errFiles" style="font:smaller">
					{{f.name}} {{f.$error}} {{f.$errorParam}}
				</li> 
			</ul>
			{{errorMsg}}
		</div>
		<br>
		<div ngf-drop="uploadFiles($files)" class="drop-box md-whiteframe-z4"
			ngf-drag-over-class="'dragover'" ngf-multiple="true" 
			ngf-pattern="'image/*,application/pdf'">
			<h3>Drop Files Here</h3>
			or <br><br>
			<md-button class="md-primary md-raised"  ngf-select="uploadFiles($files, $invalidFiles)" multiple
				  accept="image/*" ngf-max-height="1400" ngf-max-size="2MB">
			  Select Files
			</md-button>
		</div>
		<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
		<br>
		<div ng-show="categories.length > 0">
			<label>Category: </label>
			<select ng-model="selCat" ng-options="cat as cat for cat in categories"></select>
		</div>
		<br>
		<form ng-submit="addCat(newCat)" class="input-group">
			<input type="text" class="form-control" placeholder="Add a new category..." ng-model="newCat" required>
			<span class="input-group-btn">
				<button class="btn btn-primary" type="submit">Add Category</button>
			</span>
		</form>
		
	</div>
	
	<div class="col-md-3 col-md-offset-1">
		<h3 class="text-center">Before</h3>
		<md-card class="imgPreview md-whiteframe-z2"><img class="thumb"  style="height:inherit;" ngf-thumbnail="f" alt=""></md-card>
	</div>
	
	<div class="col-md-3 col-md-offset-1">
		<h3 class="text-center">After</h3>
		<md-card class="imgPreview md-whiteframe-z2"></md-card>
	</div>

</div>

<br><br>

<md-grid-list md-row-height="200px" md-gutter="20px" md-cols="12">
	<md-grid-tile md-rowspan="1" md-colspan="2" ng-repeat="f in files">
		<div class="image-display">
			
			<span class="progress" ng-show="f.progress >= 0">
				<div class="progress-bar" role="progressbar" arial-valuenow="{{f.progress}}"  
					ng-bind="f.progress + '%'">
				</div>
			</span>
		</div>
	</md-grid-tile>
</md-grid-list>

<div layout="column" ng-cloak>
	<md-content class="md-padding">
    <md-tabs md-selected="selectedIndex" md-border-bottom md-dynamic-height>
      <md-tab ng-repeat="img in images|unique:'category'" label="{{img.category}}">

        <div class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center;">
          <md-tab-body>
          	<md-grid-list md-row-height="200px" md-gutter="20px" md-cols="12">
			<md-grid-tile md-rowspan="1" md-colspan="2" ng-repeat="img in images | where:{category: img.category}">
			<img class="thumb" style="height:inherit;width:100%;"   src="{{img.file_path}}" data="{{img.file_path}}" ng-click="showAdvanced(img.file_path,img._id,img.meta.Title,img.category)"> 
			</md-grid-tile>
		</md-grid-list>

          </md-tab-body>
          <br/>
        </div>
      </md-tab>
    </md-tabs>
  </md-content>
	


</div>





<!--<div class="row">
	<ul class="box">
		<li ng-repeat="img in images">
			<span ng-if="img.category">Category: {{img.category}}</span>
			<button class="btn btn-primary" id="{{img._id}}" data-ng-click="delete($event)">Delete Image</button>
			<br><br>
			<img src="{{img.name}}" alt="" >
		</li>
	</ul>
</div>

<div class="row">
	<h2 ng-model="data"></h2>

	<div ng-repeat="f in files" style="float: right">
		<div class="image-display"><img ngf-thumbnail="f" alt="">
			<span class="progress" ng-show="f.progress >= 0">
				<div class="progress-bar" role="progressbar" arial-valuenow="{{f.progress}}"  
					ng-bind="f.progress + '%'">
				</div>
			</span>
		</div>
	</div>
</div>
-->